<?xml version="1.0" encoding="UTF-8"?>
<!--XML 문서 버전과 인코딩 선언-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--MyBatics 매퍼 DTO(Document Type Definition)-->
<mapper namespace="project.MilkyWay.mapper.NoticeDetailMapper">
    <select id="findByNoticeId" parameterType="String" resultType="project.MilkyWay.Entity.NoticeDetailEntity">
        SELECT * FROM NoticeDetail WHERE NoticeId = #{NoticeId}
    </select>
    <select id="findByNoticeDetailId" parameterType="String" resultType="project.MilkyWay.Entity.NoticeDetailEntity">
        SELECT * FROM NoticeDetail WHERE NoticeDetailId = #{NoticeDetailId}
    </select>
    <delete id="deleteByNoticeDetailId" parameterType="String">
        DELETE * FROM NoticeDetail WHERE NoticeDetailId = #{NoticeDetailId}
    </delete>
    <insert id="Insert" parameterType="project.MilkyWay.Entity.QuestionsEntity"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO NoticeDetail(NoticeId, direction, beforeURL,afterURL,comment ) VALUES(#{NoticeId}, #{direction}, #{beforeURL}, #{afterURL}, #{comment})
    </insert>
    <update id="Update" parameterType="project.MilkyWay.Entity.QuestionsEntity">
        UPDATE NoticeDetail SET direction = #{direction}, beforeURL = #{beforeURL}, afterURL = #{afterURL} WHERE NoticeDetailId = #{NoticeDetailId}
    </update>
</mapper>