<?xml version="1.0" encoding="UTF-8"?>
<!--XML 문서 버전과 인코딩 선언-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--MyBatics 매퍼 DTO(Document Type Definition)-->
<mapper namespace="project.MilkyWay.noticeMain.Notice.mapper.NoticeMapper">
    <select id="findAll" resultType="project.MilkyWay.noticeMain.Notice.Entity.NoticeEntity">
        SELECT noticeId, type, title FROM Notice
    </select>
    <select id="findByNoticeId" parameterType="String" resultType="project.MilkyWay.noticeMain.Notice.Entity.NoticeEntity">
        SELECT * FROM Notice WHERE noticeId = #{noticeId}
    </select>
    <delete id="deleteByNoticeId" parameterType="String">
        DELETE FROM Notice WHERE noticeId = #{noticeId}
    </delete>
    <insert id="Insert" parameterType="project.MilkyWay.noticeMain.Notice.Entity.NoticeEntity">
        INSERT INTO Notice(noticeId, type, greeting, title, titleimg) VALUES(#{noticeId}, #{type}, #{greeting}, #{title}, #{titleimg})
    </insert>
    <update id="Update" parameterType="project.MilkyWay.noticeMain.Notice.Entity.NoticeEntity">
        UPDATE Notice SET type = #{type}, title = #{title}, greeting = #{greeting}, titleimg = #{titleimg} WHERE noticeId = #{noticeId}
    </update>
</mapper>