body {
  margin: 0;
  padding: 0; /* 또는 필요시 1rem 등 */
}

.custom-toast {
  width: 80%;
  max-width: 400px;
  height: auto;
  font-size: 1rem;
  margin: 1rem auto; /* 중앙 정렬용 */
}

.custom-toast-body {
  font-size: 1.125rem;
}
